@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --background-alt: 220 14% 96%;

    --nav: 0 0% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 220 14% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 272 71% 47%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 4.9%;
    --foreground: 210 40% 98%;
    --background-alt: 0 0% 8%;

    --nav: 0 0% 4%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    

    --popover: 200 2% 20%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 272 71% 47%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 0 0% 28%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button:disabled {
  background-color: #ccc;
  color: #666; 
  cursor: not-allowed; 
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 2px;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 65%;
  height: 65%;
  overflow: visible;
  display: flex; /* Add this to enable centering */
  align-items: center; /* Vertically center the modal content */
  justify-content: center; /* Horizontally center the modal content */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.747);
  
}


/* Underline links in red. */
a.underscore {
  position: relative;
  text-decoration: none;
}

a.underscore::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #6B21A8;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

a.underscore:hover::before {

  transform-origin: left;
  transform: scaleX(1);
}


/* Highlights a link on mouseover. */
a.highlight {
  box-shadow: inset 0 0 0 0 #6B21A8;
  color: #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

  a.highlight:hover {
      color: #fff;
      box-shadow: inset 200px 0 0 0 #6B21A8;
  }

a.highlight {
  color: #54b3d6;
  line-height: 1.5;
  text-decoration: none;
}

/* .purple-bar {
  width: 150px;
  height: 12px;
  border-radius: 100px;
  background-color: #6B21A8;
  transform-origin: center;
  transform: scaleX(1);
  transition: transform 0.45s ease;
  bottom: -1px; /* Adjust the positioning as needed 
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0.1px solid black;
}

#PurpleBarContainer:hover .purple-bar {
  transform: scaleX(2.5);
} */



.body-svg-wires{

    /*Courtesy of SVGBackgrounds.com*/
  background-color: #09090B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2318181B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233B0764'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
